<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios音频采集和播放Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39299E7E1CDB265400FFA496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39299E971CDB265500FFA496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39299EA21CDB265500FFA496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
