<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoryboardTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>396D23541C2A417B0044B6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>396D236D1C2A417B0044B6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>396D23781C2A417B0044B6EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
