<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraAndLibraryTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39C1CAF61C3BB81B004529E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39C1CB0F1C3BB81B004529E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39C1CB1A1C3BB81C004529E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
