<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[微笑]</string>
		<key>emo</key>
		<string>Expression_1@2x.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[憋嘴]</string>
		<key>emo</key>
		<string>Expression_2@2x.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[色]</string>
		<key>emo</key>
		<string>Expression_3@2x.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[发呆]</string>
		<key>emo</key>
		<string>Expression_4@2x.png</string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
	<dict>
		<key>cht</key>
		<string></string>
		<key>emo</key>
		<string></string>
	</dict>
</array>
</plist>
