<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MulImagePickerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3947B2791C4745A100BC6B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3947B2921C4745A100BC6B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3947B29D1C4745A100BC6B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
