<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>演员</string>
		<key>audiourl</key>
		<string>http://play.baidu.com/?__m=mboxCtrl.playSong&amp;__a=242078437&amp;__o=/||dayhotIcon#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夜空中最亮的星</string>
		<key>audiourl</key>
		<string>http://play.baidu.com/?__m=mboxCtrl.playSong&amp;__a=267473025&amp;__o=/||dayhotIcon#</string>
	</dict>
	<dict>
		<key>name</key>
		<string>还魂门</string>
		<key>audiourl</key>
		<string>http://play.baidu.com/?__m=mboxCtrl.playSong&amp;__a=267453821&amp;__o=/||dayhotIcon#</string>
	</dict>
</array>
</plist>
