<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>第一首</string>
		<key>audiourl</key>
		<string>https://cl.ly/3M1Z1Z0B3V2i</string>
	</dict>
</array>
</plist>
