<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>医宝数据库设计Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39CB6E611C910769007150DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CB6E7A1C91076A007150DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CB6E851C91076A007150DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
